@if (auth.isLoggedIn$ | async) {
  <div class="dock dock-md relative z-0 shrink-0 justify-center border-t border-gray-100">
    <a [routerLink]="['orders/editor']" [routerLinkActive]="'dock-active'">
      <app-icon name="icon-plus" [class]="'size-[1.2em]'" [fill]="'#000000'"></app-icon>
      <span class="dock-label">New Order</span>
    </a>

    <a [routerLink]="['orders/list']" [routerLinkActive]="'dock-active'">
      <app-icon name="icon-file" [class]="'size-[1.2em]'" [fill]="'#000000'"></app-icon>
      <span class="dock-label">Orders</span>
    </a>

    @if (auth.canAccessManagement()) {
      <a [routerLink]="['management']" [routerLinkActive]="'dock-active'">
        <app-icon name="icon-management" [class]="'size-[1.2em]'" [fill]="'#000000'"></app-icon>
        <span class="dock-label">Management</span>
      </a>
    }
  </div>
}
