/* Add-ons Swapper Component Styles */

:host ::ng-deep {
  .sortable-ghost {
    opacity: 0.5;
    background-color: rgba(59, 130, 246, 0.1);
  }

  .sortable-drag {
    opacity: 1;
    background-color: rgba(59, 130, 246, 0.2);
  }
}

ul[data-id] {
  list-style: none;
}
