/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin 'daisyui';

.hover\:bg-transition:hover {
  transition: background-color 0.2s ease-in-out;
}

.input:focus,
.select:focus,
.file-input:focus,
.input:focus-within {
  outline: none;
  box-shadow: none;
}
